@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
	font-family: "Poppins", sans-serif;
	background-color: #fafafa;
	color: #303030;
	line-height: 1.5;
}

.card-img-top {
	background-size: cover;
	-o-object-fit: cover;
	object-fit: cover;
}

h5.card-title {
	font-size: 1.125rem !important;
}

@media screen and (max-width: 576px) {
	.card {
		width: 80%;
	}
	#main-header {
		font-size: 1.7rem;
	}
}
